@page "/cidclaim"
@using VisitAndAuthen.Models;
@using VisitAndAuthen.Services;
@using System.Net.Http.Json;
@using System.Text.Json.Nodes;
@inject HttpClient http;
@rendermode InteractiveServer
@inject NavigationManager navManager;

<PageTitle>scan CID card</PageTitle>
 @* <button class="btn btn-primary" @onclick="Click" >สแกนบัตร</button>  *@

   
       <div class="row">
    <div class="col-lg-8">
        <h1 class="mb-5">New Client</h1>
        @if(client == null)
        {
            <p>loading...</p>
        }else
        {
        <div class="row mb-3">
            <label class="col-md-4 col-form-label">pid</label>
            <div class="col-md-8">
                <input class="form-control" @bind="ClaimData.pid">
                <span class="text-danger">@Errors["pid"]?[0]</span>
            </div>
        </div>


         <div class="row mb-3">
            <label class="col-md-4 col-form-label">claimType</label>
            <div class="col-md-8">
                <input class="form-control" @bind="ClaimData.claimType">
                <span class="text-danger">@Errors["claimType"]?[0]</span>
            </div>
        </div>

         <div class="row mb-3">
            <label class="col-md-4 col-form-label">mobile</label>
            <div class="col-md-8">
                <input class="form-control" @bind="ClaimData.mobile">
                <span class="text-danger">@Errors["mobile"]?[0]</span>
            </div>
        </div>

         <div class="row mb-3">
            <label class="col-md-4 col-form-label">correlationId</label>
            <div class="col-md-8">
                <input class="form-control" @bind="ClaimData.correlationId">
                <span class="text-danger">@Errors["correlationId"]?[0]</span>
            </div>
        </div>

         <div class="row mb-3">
            <label class="col-md-4 col-form-label">hn</label>
            <div class="col-md-8">
                <input class="form-control" @bind="ClaimData.hn">
                <span class="text-danger">@Errors["hn"]?[0]</span>
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-md-4 col-form-label">hcode</label>
            <div class="col-md-8">
                <input class="form-control" @bind="ClaimData.hcode">
                <span class="text-danger">@Errors["hcode"]?[0]</span>
            </div>
        </div>

        <div class="row">
            @* <div class="offset-md-4 col-md-4 d-grid">
                <button class="btn btn-primary" @onclick="SaveClient">Submit</button>
            </div> *@
            <div class="col-md-4 d-grid">
                <a class="btn btn-outline-primary" href="/Clients">Cancel</a>
            </div>
        </div>
    
    }
    </div>
    </div>

        

@code {
    public string pid;
    public string correlationId;
    public Claim ClaimData  = new Claim();
    private string? InputValue {get; set;}
    public Cid cids {get; set;} = new();
    private Cid2 client = new Cid2();
    private GetClaim getClaim = new GetClaim(); 
    public JsonNode Errors {set; get;} = new JsonObject();


     protected override async Task OnInitializedAsync()
    {  
        
        client = await http.GetFromJsonAsync<Cid2>("http://localhost:8189/api/smartcard/read?readImageFlag=false");
        ClaimData.pid = client.pid;
        ClaimData.correlationId = client.correlationId;
        ClaimData.claimType = getClaim.claimCode;
    }


    public async Task<GetClaim> GetClaim(string pid)
    {
        getClaim = await http.GetFromJsonAsync<GetClaim>($"http://localhost:8189/api/nhso-service/latest-authen-code/{pid}");
        return getClaim;
    }

   
    
}